/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 425px) {
    
    /* shared styles */
    .nav-container,
    .nav-items-list, 
    .nav-items-1,
    .online-games-gallery,
    .instant-play-info,
    .our-info,
    .rules
    {
        flex-direction: column;
    }

    .container{
        width: 100%;
    }
    /* header style starts */   
    .nav-items-1{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nav-items-1 li:nth-child(1){
        margin-bottom: 20px;
    }
    /* header style ends */

    /* banner style starts */
    .banner-container{
        flex-direction: column-reverse;
        padding: 20px 50px 0px;
    }

    .banner-info{
        width: 100%;
        background-size: 100% 100%;
    }

    .banner-content{
        width: 100%;
        text-align: center;
        margin: auto; 
        padding: 30px;
    }

    .banner-img img{
        width: 100%;
    }
    /* banner style starts */


    /* online games style starts */
    .online-games-gallery .games{
        margin-bottom: 30px;
    }

    .games > img{
        width: 300px;
    }

    .games > h2 {
        margin-top: 10px;
    }
    /* online games style ends */


    /* instant play style starts */
    .instant-play-info{
        gap: 30px;
    }

    .instant-play-content{
        width: 80%;
        text-align: center;
    }

    .instant-play-title{
        font-size: 1.8rem;
    }

    .instant-play-title span{
        font-size: 2rem;
    }

    .instant-play-description{
        margin-top: 20px;
    }

    .instant-game-one img{
        width: 300px;
        height: 300px;
    }

    .instant-game-two img{
        width: 150px;
        height: 150px;
        right: 30px;
        bottom: 100px;
    }
    /* instant play style ends */


    /* various games style starts */
    .row-1{
        flex-basis: 100px;
        margin: 0 15px;
    }
    .game-row-1{
        width: 30px;
        margin: auto;
    }
    /* various games style ends */

    /* footer style starts */
    .info-1 p, .info-2 p{
        font-size: 1rem;
        margin-right: 20px;
    }

    .info-2 p{
        margin-top: 30px;
    }

    .rules p{
        font-size: 10px;
        margin-right: 20px;
    }

    .rule-1{
        margin-bottom: 10px;
    }

    small{
        font-size: 10px;
    }
    /* footer style ends */
}



/* Tablet or Medium Devices */
@media screen and (min-width: 426px) and (max-width: 768px) {
    
    /* shared styles */
    .nav-container,
    .nav-items-list,
    .online-games-gallery,
    .instant-play-info
    {
        flex-direction: column;
    }

    .container{
        width: 100%;
    }
    /* header style starts */
    .nav-title{
        font-size: 4rem;
    }

    .nav-logo{
        width: 75px;
        height: 30px;
    }
    
    .nav-items-1, .nav-items-2{
        font-size: 1.5rem;
    }

    .nav-items-2 img{
        width: 30px;
        height: 25px;
    }

    .nav-content{
        margin-bottom: 30px;
    }

    .nav-items-2{
        margin-top: 30px;
    }
     /* header style ends */

    /* banner style starts */
    .banner-container{
        flex-direction: column-reverse;
        padding: 20px 50px 0px;
    }

    .banner-info{
        width: 100%;
        background-size: 100% 100%;
    }

    .banner-content{
        width: 100%;
        text-align: center;
        margin: auto; 
        padding: 30px;
    }

    .banner-img img{
        width: 100%;
    }

    .colored-title{
        font-size: 5rem;
    }

    .banner-description{
        font-size: 1.25rem;
    }

    .btn-primary{
        font-size: 1.5rem;
        font-weight: 500;
    }
    /* /* banner style ends */

 
    /* online games style starts */
    .online-games-title{
        font-size: 3rem;
    }

    .online-games-title span{
        font-size: 3rem;
    }

    .online-games-gallery .games{
        margin-bottom: 30px;
    }

    .games > img{
        width: 500px;
    }

    .games > h2 {
        margin-top: 10px;
        font-size: 2rem;
    }
    /* online games style ends */


    /* instant play style starts */
    .instant-play-info{
        gap: 30px;
    }
    
    .instant-play-content{
        width: 100%;
        text-align: center;
    }

    .instant-play-description{
        width: 80%;
        margin: auto;
        font-size: 1.5rem;
        margin-top: 20px;
    }
    /* instant play style ends */


    /* footer style starts */
    .info-1 p, .info-2 p{
        font-size: 1rem;
    }
    /* footer style ends */
}