/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 425px) {
    
    /* shared styles */
    .nav-container,
    .nav-items-list, 
    .nav-items-1,
    .online-games-gallery,
    .instant-play-container
    {
        flex-direction: column;
    }

    /* header style starts */
    .nav-items-1{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-items-1 li:nth-child(1){
        margin-bottom: 20px;
    }
    /* header style ends */

    /* banner style starts */
    .banner-container{
        padding: 0px 50px;
        flex-direction: column-reverse;
        background-position: top left;
        gap: 0;
    }

    .banner-introduction{
        padding-top: 30px;
    }

    .banner-img{
        width: 100%;
        padding-top: 50px;
    }

    .banner-img img{
        width: 100%;
    }

    .banner-content{
        margin-bottom: 40px;
    }
    /* banner style starts */


    /* online games style starts */
    .online-games-container{
        padding: 0px 20px;
    }
    
    .online-games-title{
        font-size: 1.5rem;
    }

    .online-games-title span{
        font-size: 1.5rem;
    }

    .games{
        max-width: 70%;
        margin-bottom: 30px;
    }
    /* online games style ends */


    /* instant play style starts */
    .instant-play-container{
        padding: 0;
    }
    
    .instant-play-content{
        width: 100%;
    }

    .instant-play-title{
        width: 90%;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .instant-play-title span{
        width: 90%;
        font-size: 2rem;

    }

    .instant-play-description{
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }

    .instant-play-games{
        padding: 0px 30px;
    }

    .game-one{
        width: 85%;
        margin: auto;
    }

    .game-two{
        width: 150px;
        height: 150px;
        left: -20px;
    }
    /* instant play style ends */




}










/* Tablet or Medium Devices */
@media screen and (min-width: 425px) and (max-width: 768px) {
    
    /* shared styles */
    .nav-container,
    .nav-items-list,
    .online-games-gallery,
    .instant-play-container
    {
        flex-direction: column;
    }

    /* header style starts */
    .nav-content{
        margin-bottom: 30px;
    }

    .nav-items-2{
        margin-top: 30px;
    }
     /* header style ends */

    /* banner style starts */
    .banner-container{
        min-height: 400px;
        padding: 0px 50px;
        gap: 0;
    }
    /* banner style ends */

 
    /* online games style starts */
    .games{
        max-width: 100%;
        margin-bottom: 30px;
    }
    /* online games style ends */


    /* instant play style starts */
    .instant-play-container{
        padding: 0;
    }

    .instant-play-content{
        width: 100%;
    }

    .instant-play-title{
        width: 90%;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .instant-play-title span{
        width: 90%;
        font-size: 2rem;

    }

    .instant-play-description{
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }

    .instant-play-games{
        padding: 0px 30px;
    }

    .game-one{
        width: 85%;
        margin: auto;
    }

    .game-two{
        width: 250px;
        height: 200px;
        right: 20px;
        bottom: 100px;
    }
    /* instant play style ends */


    
}