/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap");

/* some common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.btn-primary{
    font-weight: 600;
    border: none;
    background-color: #FF42A5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

/* header style starts */
header {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.164);
}

.nav-container {
  padding: 38px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: 25px;
  margin-right: 10px;
}

.nav-title {
  font-size: 1.8rem;
}

.nav-title span {
  color: #ff42a5;
}

.nav-items-list {
  display: flex;
  align-items: center;
  color: #3c354f;
}

.nav-items-1 {
  display: flex;
}

.nav-items-1 li {
  list-style: none;
  margin-right: 20px;
}

.nav-items-2 {
  display: flex;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 10px 12px;
  border-radius: 5px;
}

.nav-items-2 img {
  width: 20px;
  height: 15px;
  margin-left: 10px;
}
/* header style ends */

/* banner style starts */
.banner-container{
    padding: 0px 120px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.banner-introduction{
    font-size: 2rem;
    font-weight: 600;
}

.banner-title{
    font-size: 4rem;
    background-image: linear-gradient(to bottom, rgb(243, 52, 84), rgb(98, 10, 150));
    color: transparent;
    -webkit-background-clip: text;
}

.banner-description{
    margin-top: 10px;
    margin-bottom: 20px;
}

.banner-description p:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-blue{
        font-weight: 600;
        border: none;
        background-color: #4EC5F7;
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
}

.banner-img{
    width: 50%;
}

.banner-img img{
    width: 100%;
}

