/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap");

/* some common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container{
  width: 1180px;
  margin: 0 auto;
}

.btn-primary {
  font-weight: 600;
  border: none;
  background-color: #ff42a5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
}

.colored-title {
  font-size: 5rem;
  background-image: linear-gradient(
    to bottom,
    rgb(243, 52, 84),
    rgb(98, 10, 150)
  );
  color: transparent;
  -webkit-background-clip: text;
}

.description-color {
  color: #534c64;
}

/* header style starts */

header {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.164);
}

.nav-container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: 25px;
  margin-right: 10px;
}

.nav-title {
  font-size: 1.8rem;
}

.nav-title span {
  color: #ff42a5;
}

.nav-items-list {
  display: flex;
  align-items: center;
  color: #3c354f;
}

.nav-items-1 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-items-1 li {
  list-style: none;
  margin-right: 20px;
}

.nav-items-2 {
  display: flex;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 10px 12px;
  border-radius: 5px;
}

.nav-items-2 img {
  width: 20px;
  height: 15px;
  margin-left: 10px;
}

/* header style ends */

/* banner style starts */
.banner-container{
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.banner-introduction{
  font-size: 2rem;
  font-weight: 600;
}

.banner-info{
  width: 50%;
  background-image: url('../images/Group 14.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}

.banner-content{
  width: 50%;
  margin-left: 120px;
}

.banner-img img{
  width: 82%;
  height: 100%;
}

.banner-description{
  margin-top: 15px;
  margin-bottom: 25px;
}

.banner-description p:nth-child(2){
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-blue{
  background-color: #4EC5F7;
}
/* banner style ends */

/* online games style starts  */
.online-games-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.online-games-content {
  text-align: center;
  margin-bottom: 40px;
}

.online-games-title {
  color: #0b0223;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 16px;
}

.online-games-title span {
  font-size: 2rem;
}

.online-games-description {
  font-size: 1.2rem;
}

.online-games-gallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 120px;
}

.games > img{
  width: 260px;
}
/* online games styles ends */

/* Instant play style starts */
.instant-play-container{
  margin-top: 70px;
}

.instant-play-info{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.instant-play-content{
  width: 40%;
  text-align: end;
}

.instant-play-title{
  font-size: 2.5rem;
}

.instant-play-title span{
  font-size: 3rem;
}

.instant-play-description{
  font-size: 1rem;
  font-weight: 400;
}

.instant-game-one img{
  padding-top: 30px;
  width: 500px;
  height: 700px;
}

.instant-game-two img{
  width: 250px;
  height: 200px;
  position: relative;
  bottom: 125px;
  right: 100px;
}
/* Instant play style ends */


/* various games style starts */
.various-games-container{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.row-1{
  flex-basis: 200px;
  margin-bottom: 20px;
}

.game-row-1{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  margin-right: 5px;
  padding-top: 5px;
}

.game-row-1:hover{
  border: 1px solid #ff42a5;
  color: #ff42a5;
  border-radius: 40px;
  padding-top: 5px;
}

.game-row-1 img{
  margin-right: 10px;
}

.game-description-1{
  font-size: 12px;
}
/* various games style ends */


/* footer style starts */
footer{
  background-color: #0b0223;
}

.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.footer-logo img{
  width: 50px;
  height: 25px;
  margin-right: 10px;
}

.footer-title{
  font-size: 1.8rem;
  color: #fff;
}

.footer-title span{
  color: #ff42a5;
}

.info-1, .info-2, .rule-1, .rule-2{
  display: flex;
  justify-content: center;
}

.info-1 p, .info-2 p{
  margin-right: 40px;
  font-size: 1.25rem;
}

.our-info{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.our-info p{
  color: #fff;
}

.social-links li .fa-brands{
  color: #fff;
}

.social-links li a > i{
  width: 50px;
}

.social-links li {
  list-style: none;
  margin: auto;
  display: flex;
  justify-content: center;
}

.rules{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.rules p{
  margin-right: 40px;
  font-size: 1rem;
  color: #fff;
}

small{
  color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
/* footer style ends */