/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap");

/* some common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* header style starts */
header {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.164);
}

.nav-container {
  padding: 38px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: 25px;
  margin-right: 10px;
}

.nav-title {
  font-size: 1.8rem;
}

.nav-title span {
  color: #ff42a5;
}

.nav-items-list {
  display: flex;
  align-items: center;
  color: #3c354f;
}

.nav-items-1 {
  display: flex;
}

.nav-items-1 li {
  list-style: none;
  margin-right: 20px;
}

.nav-items-2 {
  display: flex;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 10px 12px;
  border-radius: 5px;
}

.nav-items-2 img {
  width: 20px;
  height: 15px;
  margin-left: 10px;
}
/* header style ends */

/*  */
